tr {
    cursor: pointer;
}

.base-layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr) auto;
    row-gap: 3rem;
    min-height: 100vh;
}

.justify-text {
    text-align: justify;
}

.md-render {
    max-height: 700px;
    overflow-y: scroll;
    text-align: justify;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.gradient-bg {
    background-image: linear-gradient(to right, #045de9, #0693f1);
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
