<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Debian Cloud Image Finder Team">
        <title>Cloud Image Finder</title>
        <!-- Custom styles for this template -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.css') }}">
        <script src="{{ url_for('static', filename='js/simplemde.js') }}"></script>
    </head>

<body>
    <!-- Fixed navbar -->
    <div class="base-layout">
        {% include "navbar.html" %}

        <!-- Begin page content -->
        <main role="main" class="container mt-5">
            {% include "alerts.html" %}
            {% block content %}
            {% endblock %}
        </main>
        {% include "footer.html" %}
        <script>
            var simplemde = new SimpleMDE({ element: document.getElementById("markdown_editor") });
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
