{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Providers</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ provider.name }}</li>
    </ol>
</nav>

<h1>Edit Provider</h1>
<div class="border-top my-3"></div>

<div class="row m-0">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 border shadow-sm rounded p-3 mb-3">
        <h2 class="">Update information</h2>
        <div class="border-top my-3"></div>
        <form method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control bg-light" value="{{ provider.name }}" name="name">
            </div>
            <div class="form-group">
                <label>Vendor</label>
                <input type="text" class="form-control bg-light" value="{{ provider.vendor }}" name="vendor">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control bg-light" value="{{ provider.description }}" name="description">
            </div>
            <div class="form-group">
                <label>Markdown</label>
                <textarea type="text" id="markdown_editor" class="form-control bg-light" rows="15" name="markdown">{{ provider.markdown }}</textarea>
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-outline-primary mr-3" href="{{ url_for('.index') }}">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}