{% block content %}

<footer class="container-fluid gradient-bg p-3">
    <div class="row flex-wrap justify-content-center">
        <div class="col-auto mb-3 mb-sm-0">
            <a href="https://salsa.debian.org/cloud-team/image-finder" target="_blank" class="text-light">
                <img src="{{ url_for('static', filename='images/la_git.svg') }}" class="mr-1"/>
                Contribute
            </a>
        </div>
        <div class="col-auto mb-3 mb-sm-0">
            <a href="https://salsa.debian.org/cloud-team/image-finder/-/issues" class="text-light" target="_blank">
                <img src="{{ url_for('static', filename='images/bx_bx-bug.svg') }}" class="mr-1"/>
                Report a Bug
            </a>
        </div>
        <div class="col-auto mb-3 mb-sm-0">
            <a href="https://salsa.debian.org/cloud-team/image-finder/-/wikis/home" class="text-light" target="_blank">
                <img src="{{ url_for('static', filename='images/file-icons_readthedocs.svg') }}" class="mr-1"/>
                Documentation
            </a>
        </div>
    </div>
</footer>

{% endblock %}
