{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-1">Providers</h1>
    <div>
        <a href="/apidocs" class="btn btn-primary">
            <i class="fa fa-file-text-o mr-1"></i>
            API Docs
        </a>
    </div>
</div>
<p class="lead">Here you can find any Debian image for cloud providers</p>

<div class="border-top my-3"></div>

<div class="row">
    {% for provider in providers %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex d-flex-row text-center justify-content-between align-items-center mb-3">
                        <h5 class="card-title mb-0">{{ provider.name }}</h5>
                        {% if current_user.is_authenticated and current_user.admin %}
                            <a href="{{ url_for('.edit_provider', vendor=provider.vendor) }}"><i class="fa fa-edit fa-lg"></i></a>
                        {% endif %}
                    </div>
                    <p class="card-text justify-text" style="min-height: 90px;">{{ provider.description }}</p>
                    <a href="/provider/{{ provider.vendor }}" class="btn btn-primary align-self-end mt-auto">See Images</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}