{% extends 'base.html' %}

{% block content %}

<h1>Profile</h1>
<div class="border-top my-3"></div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 border shadow-sm rounded p-3">
        <form method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control bg-light" value="{{ current_user.name }}" name="name" readonly>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control bg-light" value="{{ current_user.username }}" name="username" readonly>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control bg-light" value="{{ current_user.email }}" name="email" readonly>
            </div>
        </form>
    </div>
</div>

{% endblock %}