{% extends 'base.html' %}

{% block content %}

<h1>Users Management</h1>
<div class="border-top my-3"></div>

{% if users_requested_access %}
<div class="row mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 border shadow-sm rounded p-3">
        <h2 class="">Users requests</h2>
        <div class="border-top my-3"></div>
        <p>Users who have requested access to be admin.</p>
        <ul class="list-group">
            <table class="table table-bordered mt-3 mb-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_request in users_requested_access %}
                    <tr>
                        <td>{{ user_request.name }}</td>
                        <td>{{ user_request.username }}</td>
                        <td>{{ user_request.email }}</td>
                        <td><a type="submit" class="btn btn-success" href="{{ url_for('.promote_user', public_id=user_request.public_id) }}">Promote</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
</div>
{% endif %}

<div class="row mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 border shadow-sm rounded p-3">
        <h2 class="">Admin Users list</h2>
        <div class="border-top my-3"></div>
        {% if users_list %}
        <p>The list of admin users.</p>
        <ul class="list-group">
            <table class="table table-bordered mt-3 mb-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_list %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><a type="submit" class="btn btn-danger" href="{{ url_for('.demote_user', public_id=user.public_id) }}">Demote</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}